importFrom("irtoys","est","mlebme")
importFrom("stats", "glm", "lm", "pbinom", "pnorm", "poisson", "ppois",
     "predict")
export(CopyDetect1,CopyDetect2)
S3method(print,CopyDetect)
S3method(print,CopyDetect2)
